[Unit]
Description=SixDroid proxy to remote Google Play AVD
After=network-online.target zerotier-one.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/socat TCP-LISTEN:5559,bind=0.0.0.0,reuseaddr,fork TCP:10.176.160.231:5555
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
